<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animals</title>
</head>
<body>
<form th:method="POST" th:action="@{/files/uploads}" th:object="${file}" enctype="multipart/form-data">
    <label for="file">Upload file: </label>

    <input type="file" th:field="*{file}" id="file"
           accept=".xml, .csv" />
    <br>
    <input type="submit" value="Upload"/>

</form>
</body>
<style>
    label {
        display: block;
        font:
                1rem 'Montserrat Medium',
                sans-serif;
    }

    input,
    label {
        margin: 0.4rem 0;
    }
</style>
</html>
